/* @font-face {
  font-family: "Roboto Bold";
  src: url("https://secure-media.hotstarext.com/web-assets/prod/roboto-bold.woff2");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("https://secure-media.hotstarext.com/web-assets/prod/roboto-medium.woff2");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("https://secure-media.hotstarext.com/web-assets/prod/roboto-regular.woff2");
} */

.roboto-bold {
  font-family: "Roboto Heavy", sans-serif;
}

.roboto-med {
  font-family: "Roboto Medium", sans-serif;
}

html,
body {
  font-size: 10px;
  font-family: "Roboto Regular", sans-serif;
  margin: 0;

  --BRAND_BLUE: #1f80e0;
  --BRAND_RED: #f15151;
  --BRAND_ORANGE: #db882a;
  --BG_GRADIENT_L0: linear-gradient(to bottom, #141b29, #0c111b 300px);
  --BG_GRADIENT_L1: linear-gradient(to bottom, #192133, #111826);
  --BG_GRADIENT_L2: linear-gradient(to bottom, #334366, #334366, #1c2940);
  --CARD_GRADIENT: #030b17;
  --HEADER_COLOR: #121926;
  --BG_COLOR_L0: #0c111b;
  --BG_COLOR_L1: #192133;
  --BG_COLOR_L2: #334366;
  --BG_COLOR_L3: rgba(144, 153, 153, 0.1);
  --BG_COLOR_L4: #1b1f20;
  --BORDER_COLOR_L0: #2e3333;
  --TEXT_COLOR_L0: #fff;
  --TEXT_COLOR_L1: rgba(255, 255, 255, 0.8);
  --TEXT_COLOR_L2: rgba(255, 255, 255, 0.6);
  --TEXT_COLOR_L3: #dadada;
  --TEXT_COLOR_L4: #909999;
  --TEXT_COLOR_L5: #f9f9f9;
  --TEXT_LINK_COLOR: #1f80e0;
  --TEXT_BTN_COLOR: #1f80e0;
  background: var(--BG_GRADIENT_L0);
}

/* Reusable styles */

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.block {
  display: block;
}

.pos-fixed {
  position: fixed;
}

.font-10-500-15 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.font-12-700-24 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.font-12-400 {
  font-weight: 400;
  font-size: 1.2rem;
}
.font-14-400 {
  font-size: 1.4rem;
  font-weight: 400;
}

.font-16-400 {
  font-weight: 400;
  font-size: 1.6rem;
}

.font-16-500 {
  font-weight: 500;
  font-size: 1.6rem;
}
.font-16-700 {
  font-weight: 700;
  font-size: 1.6rem;
}

.font-20-500-29 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.9rem;
}
.font-28-500-1 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.td-none {
  text-decoration: none;
}

.pad-20-15 {
  padding: 20px 15px;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.bg-col-1 {
  background-color: #141a28;
}

.bg-col-4 {
  background-color: var(--CARD_GRADIENT);
}

.txt-color-1 {
  color: var(--TEXT_COLOR_L3);
}

.txt-color-2 {
  color: white;
}

/*  */
.header-wrap {
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  padding: 0 60px;
  background: var(--BG_GRADIENT_L0);
  box-sizing: border-box;
  margin: 0;
  z-index: 2;
}

.header {
  width: 100%;
  padding: 6px 0;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.menu:hover {
  color: var(--TEXT_COLOR_L4);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--BG_COLOR_L1);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--TEXT_COLOR_L1);
}

.dropdown-content a:hover {
  background-color: var(--BG_COLOR_L2);
}

.drop-down:hover .dropdown-content {
  display: block;
}

.btn-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.line {
  width: 18px;
  height: 2px;
  background: var(--TEXT_COLOR_L2);
  display: block;
  margin-top: 3px;
}

.logo {
  height: 45px;
  width: 115px;
}

.kids-logo {
  height: 15px;
  width: 45px;
}

.main-container {
  padding: 70px 0 0;
}
/* .search-label {
  box-sizing: border-box;
} */

.search:focus,
.search:active {
  border-bottom: 1px solid var(--BRAND_BLUE);
  width: 350px;
  transition: ease-out 0.1s;
}

.search {
  outline: none;
  border: none;
  height: 32px;
  width: 240px;
  border-bottom: 1px solid var(--TEXT_COLOR_L2);
  position: relative;
  padding: 0 20px 0 0;
}

.search-icon {
  position: relative;
  right: 16px;
}

.search::placeholder {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--TEXT_COLOR_L1);
}

.search-icon {
  height: 12px;
  width: 16px;
}

.sub-button {
  padding: 0 12px;
  background-color: var(--BRAND_BLUE);
  border-radius: 3px;
  border: none;
}

.carousel-wrap {
  width: 100%;
  margin: 15px 0 0;
}

/* Main container */
.carousel-container {
  margin: 0 10px;
  border-radius: 5px;
  width: calc(100% - 150px);
  height: auto;
  overflow: auto;
}

.carousel-text {
  width: 50%;
  padding: 100px 50px 50px;
}

.carousel-image {
  height: 100%;
  width: auto;
}

.carousel-gradient {
  position: relative;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(45, 76, 138, 1) 54%,
    rgba(51, 67, 102, 1) 100%
  );
}

.content-title,
.content-meta,
.content-description {
  padding: 5px 0;
  line-height: 24px;
}
/* cards */
.tray-wrap {
  padding: 50px 70px;
}

.tray-row {
  /* width: calc(100% - 150px); */
  height: auto;
}

.category-title {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 500;
}

.slider {
  padding: 16px 0;
  width: 100%;
}

.card {
  border-radius: 5px;
  box-sizing: border-box;
  width: 150px;
  height: 170px;
  box-sizing: border-box;
  position: relative;
  margin-right: 12px;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.3);
  transition: ease-in-out 0.3s;
  
  z-index: 3;
}

.card:hover .card-text {
  visibility: visible;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(45, 76, 138, 1) 54%,
    rgba(51, 67, 102, 1) 100%
  );
}
.card-text {
  padding: 0 5px 5px 5px;
  position: relative;
  top: 100px;
  height: auto;
  width: fit-content;
  font-size: 1em;
  z-index: 1;
  visibility: hidden;
}

.card-title {
  font-size: 1em;
  font-weight: 700;
  padding: 0 0 3px;
}

.card-meta {
  font-size: 0.8em;
  line-height: 12px;
  font-weight: 500;
  padding: 0 0 3px;
}

.card-description {
  line-height: 0.8em;
  font-weight: 500;
  padding: 0 0 0.3em;
}

.card-actions {
  line-height: 1.2em;
  font-weight: 500;
}

.card-thumbnail {
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.action-btn {
  padding: 10px;
  width: 100%;
}

.action-btn:hover {
  background-color: var(--BG_COLOR_L2);
}

.thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}

/* Footer */

.footer-wrap {
  padding: 34px;
  max-width: calc(100vw - 105px);
}

.footer-left {
  width: 58%;
}

.footer-links a {
  padding: 0 20px 0 0;
}

.copyright {
  padding-top: 11px;
  padding-right: 15%;
}

.footer-right {
  width: 41%;
  max-width: 540px;
  float: right;
}

/* Google play button */
<b:if cond='data:blog.pageType == &quot;item&quot;'>
<style type='text/css'>
/*<![CDATA[*/
@font-face{font-family:"fontfutura";src:url("https://fonts.googleapis.com/css?family=Open+Sans") format("ttf");font-weight:normal;font-style:normal;}
a.btn-google{color:#fff}
.btn{padding:10px 16px;margin:5px;font-size:18px;line-height:1.3333333;border-radius:6px;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;font-weight:500;text-decoration:none;display:inline-block}
.btn:active:focus,.btn:focus{outline:0}
.btn:focus,.btn:hover{color:rgb(23, 29, 48);text-decoration:none;outline:0}
.btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn-google{color:#fff;background-color:#111;border-color:#000;padding:15px 16px 5px 40px;position:relative;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight:600}
.btn-google:focus{color:#fff;background-color:#555;border-color:#000}
.btn-google:active,.btn-google:hover{color:#fff;background-color:#555;border-color:#000;}
.btn-google:before{content:"";background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);background-size:cover;background-repeat:no-repeat;width:30px;height:30px;position:absolute;left:6px;top:50%;margin-top:-15px}
.btn-google:after{content:"GET IT ON";position:absolute;top:5px;left:40px;font-size:10px;font-weight:400;}
/*]]>*/
</style>
</b:if>

